@model urunekle

@{
    ViewData["Title"] = "AddFood";
}

<h1>Food Add Page</h1>
<br />

<form class="form-group" asp-controller="Food" asp-action="AddFood" method="post" enctype="multipart/form-data">
    @Html.Label("Food Name")
    @Html.TextBoxFor(z=>z.Name, new {@class="form-control"})
    <br />
    @Html.Label("Stock")
    @Html.TextBoxFor(z=>z.Stock, new {@class="form-control"})
    <br />
    @Html.Label("Price")
    @Html.TextBoxFor(z=>z.Price, new {@class="form-control"})
    <br />
    @Html.Label("Choose Image")
    @* @Html.TextBoxFor(z=>z.ImageURL, new {@class="form-control"}) *@
    <input type="file" name="ImageURL">
    <br />
    @Html.Label("Category")
    @Html.DropDownListFor(z=>z.CategoryID,(List<SelectListItem>)@ViewBag.v1 ,new {@class="form-control"})
    <br />
    @Html.Label("Description")
    @Html.TextAreaFor(z=>z.Description, new {@class="form-control"})
    <br />
    <button class="btn btn-primary">Save</button>
</form>
